@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(red, black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 330px;
    width: 250px;
}

.selectbox {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color:rgb(213, 44, 32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
cursor: pointer;
}

.selectbox p {
    padding-left: 10px;
}
.selectbox img{
    height: 15px;
    padding-right: 20px;
}

.expand {
    padding-right: 10px;
    transform: rotateX(180deg);
    transition: all 0.5s ease;
    
}

.selectfield {
    margin-top: 10px;
cursor: pointer;
    border-radius: 6px;
  opacity: 0;
  transition: all 0.3s ease;
} 

ul {

    border-radius: 6px;
}

li {
    width: 100%;
    height: 50px;
    background-color: rgba(207, 77, 67, 0.795);
    display: flex;
    align-items: center;
    font-size: 15px;
   
}
li:hover{
    background-color: rgba(141, 141, 141, 0.649);
}

li img{
    height: 25px;
     padding: 0px 10px;
    }
